{% extends 'basic.html' %}

{% block title %} Signup {% endblock title %}
{% block body %}

{% if messages %}
{% for message in messages %}
<script>
alert('{{message}}')
</script>
{% endfor %}
{% endif %}

<script>
function check(){
    a = ('{{user.email}}')
    if(document.signup.pass1.value!=document.signup.pass.value)
    {
    alert("password and confirm password is not same")
    document.getElementById('pass1').focus();
    return false;
    }
    else if(document.signup.email.value==a)
    {
      alert("email id already exists")
      document.getElementById('email').focus();
      return false; 
    }
    
    else{
        return true;
    }
    
}
</script>

<div class="container">

<div class="row">
<div class="col-md-7 offset-3">
<h1 class="text-center mt-5">Signup</h1>
<form action="" method="post"  class="shadow p-5" onsubmit="return check()" name="signup">
{% csrf_token %}
<div>
<label for="username">Username:</label>
<input type="text" class="form-control" name="uname" id="uname" placeholder="Plase enter username" required>
</div>
<div>
<label for="email">Email:</label>
<input type="email" class="form-control" name="email" id="email" placeholder="Please enter email id" required>
</div>
<div>
<label for="passowrd">Password:</label>
<input type="password" class="form-control" name="pass" id="pass" placeholder="Please enter password" required>
</div>
<div>
<label for="passowrd1">Confirm Password:</label>
<input type="password" class="form-control" name="pass1" id="pass1" placeholder="Please re-enter same password" required>
</div>
<br>
<button class="btn btn-primary">Submit</button>
</form>
</div>
</div>
</div>



{% endblock body %}