{% extends 'basic.html' %}

{% block title %} Signup {% endblock title %}
{% block body %}

{% if messages %}
{% for message in messages %}
<script>
alert('{{message}}')
</script>
{% endfor %}
{% endif %}

<script>
function check(){
    a = ('{{user.email}}')
    if(document.signup.pass1.value!=document.signup.pass.value)
    {
    alert("password and confirm password is not same")
    document.getElementById('pass1').focus();
    return false;
    }
    else if(document.signup.email.value==a)
    {
      alert("email id already exists")
      document.getElementById('email').focus();
      return false; 
    }
    
    else{
        return true;
    }
    
}
</script>

<div class="container">

<div class="row">
<div class="col-md-7 offset-3">
<h1 class="text-center mt-5">Signup</h1>
<form action="" method="post"  class="shadow p-5" onsubmit="return check()" name="signup">
{% csrf_token %}
{% for fm in fm %}
<div class="form-group mb-3">
    {{fm.label_tag}} {{fm}} <small class="text-danger">
    {{fm.errors|striptags}}
    </small>
    </div>
    {% endfor %}

<br>
<button class="btn btn-primary">Submit</button>
</form>
</div>
</div>
</div>



{% endblock body %}